@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 360px) {
    
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 521px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 699px) {
    
}
/*Elementos*/
*{
    margin: 0;
    padding: 0;
    border: none;
}
#container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 96%;
    max-width:1133px;
    top: 180px; 
}

html, body {
    height: 100%;
}
a{
    color: inherit;
    text-decoration: none;
}
img{
    display: block;
    clear: none;
    margin: 0;
    padding: 0;
}
body {
    background:  #fff;
    color:#333333;
    font-size:11px;
    text-align:center;
    margin:0;
    padding:0;
    height: 100%;    
    font-family:'Helvetica Neue', arial,sans-serif;
}
.bold{
    font-weight: bold;
}
.centered {
    left: 50%;
    margin-left: -134px;
    margin-top: -146px;
    position: fixed;
    top: 50%;
}
header{
    background: none repeat scroll 0 0 #F8F8F7;
    left: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.header{
   width: 470px;
   margin:55px auto 30px;
}

.login{
   
}
ol,ul{
    list-style: none outside none;
}
.clr{
    clear: both;
    float: none !important;
}
#wrapper {    
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    min-width: 100%;
    padding-bottom: 225px;
    background: url("../images/gallerysBg.jpg") repeat scroll center center transparent;
}
footer{  
    bottom: 0;
    position: absolute;
    width: 100%;
}

#floater {
    float: left;
    height: 50%;
    margin-bottom: -115px;
    position: relative;
    width: 1px;
}
.frameHead{
    background: #fff;
}
fieldset{
    text-align: left;
}
#white_full {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#white_box {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    display: none;
    height: auto;
    left: 50%;
    margin-left: -146px;
    margin-top: -115px;
    padding: 20px;
    position: fixed;
    top: 30%;
    width: auto;
    z-index: 200;
}
input[type="text"], input[type="password"] {
    border: 1px solid #ACACAC;
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-family: HelveticaNeue;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 4px 0px;
    vertical-align: middle;
    width: 200px;
}
label {
    display: block;
    line-height: 18px;
    margin: 0 10px 0 0;
    padding: 3px 10px 0 0;
    position: relative;
    text-align: left;
    width: 100px;
}
.btn {
    background-color: #7D7D7D;
    border: 1px solid #676767;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 5px;
    text-align: center;
    width: 100px;
}
#bgPrev{
    top: 50%;
    left: 0;
    z-index: 1;
    position: absolute;
}
#bgNext{
    top: 50%;
    right: 0;
    z-index: 1;
    position: absolute;
}
#whiteBG{
    position:relative;
    width: 1px;
    height: 0px;
    display: none;
}
#imgFull{
    background: #ffffff;
    overflow: hidden;
    float: left;
    position: relative !important;
    width: 100%;
    z-index: 1 !important;
    display: none;
    clear: both;
    float: none;
}
#imgFull img {
    width: 100%;
}   

#body{
    width: 100%;
    float: left;
    position: absolute !important;
    z-index: 0 !important;
    height: 100% !important;
}
#body-background{
    position: absolute !important;
    background: #000;
}
#body-background > img{
    position: absolute !important;
}
.logoBox{
    width: 167px;
    height: 40px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.accessFrame{
    background: #f7f9f9;
    width: 0%;
    float: left;
    height: 100%;
    left: 0px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}
.accessFrame > div{
    height: 750px;
    margin: auto;
    padding: 143px 0;
}
.frameContent{
    width: 240px;
    color:#807f83;
    width: 190px;
}
.frameForm{
    color:#807f83;
    display: none;
    width: 214px;
}
.frameForm form fieldset{
    text-align: left;
    margin-top: 10px;
}
.imageMove{
}
input[type="text"],input[type="password"]{
    border:none;
    border-radius: 0px;
    width: 200px;
}
input[type="submit"]{
    border:none;
    background: none;
    text-decoration: underline;
    border-radius: 0px;
    width: 200px;
    text-align: left;
    color:#807f83;
    cursor: pointer;
}
.frameForm textarea{
    border:none;
    width: 210px;
    height: 150px;
    resize: none;
    border-radius: 0px;
}
.loginBox{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    height: 192px;
    padding: 20px;
    width: 235px;
}
.accessFrame p{
    text-align: left;
    margin-bottom: 12px; 
}
.title{
    color:#000;
}
.accessFrame .link cufon{
    /*border-bottom: 2px solid #cacaca;*/
    cursor: pointer;
}
.accessFrame .link:hover cufon{
    border-bottom: 2px solid #cacaca;
    cursor: pointer;
}
.preload{
   background: url("../images/preload.gif") no-repeat scroll 0 0px transparent;
    left: 100px;
    position: absolute;
    top: 100px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 1;
    display: none;
}
.bgControl{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.preloadW{
   background: url("../images/preloadW.gif") no-repeat scroll 0 0px transparent !important;
}
.labelInfo{
    background: url("../images/labelInfo.png") no-repeat scroll 0 0px transparent;
    left: 0px;
    position: absolute;
    top: 50%;
    width: 100px;
    height: 60px;
    cursor: pointer;
    z-index: 1
}
.labelNext{
    background: url("../images/labelNext.png") no-repeat scroll 0 0px transparent;
    position: fixed;
    right: 0px;
    top: 50%;
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.backgroundMove{
    left: 250px !important;
}
#logo_img{
    background: url("../images/logo.png") no-repeat scroll center center transparent;
    height: 40px;
    width: 168px;
    margin: auto;
}
#menu{
    margin: 20px auto auto;
    width: 470px;
}
.menuTitle ul{
    float:left;
    width: 33%;
}
#menu li{
    text-transform: uppercase;
    /*display: none;*/
}
.header_menu {
    color: #000000;
    height: auto;
    position: relative;
    text-align: left;
    width: 100%;
}
.header_menu > li {
    color: #000000;
    cursor: pointer;
    display: inline;
    float: left;
    height: auto;
    padding: 0px;
    position: relative;
    text-transform: uppercase;
    top: 12px;
    text-align: center;
    width: 33%;
}
.header_menu .selected{
    display: block;
    height: 16px;
    opacity: 1;
    position: relative;
}
.header_menu > li:hover {
}
.header_menu ul {
    margin: auto;
    padding-top: 5px;
    position: relative;
    top: 0;
    width: 98%;
}
.header_menu:hover li ul {
    opacity: 1;
}
.header_menu ul li {
    height: 0;
    opacity: 0;
    overflow: hidden;    
    padding: 0;
}

.menuOpt{
}
.header_menu:hover .menuOpt{
 /*   display: block;
    height: 17px;
    margin: 5px 0;
    opacity: 1;
    overflow: visible;
    text-align: center;*/
}
.header_menu ul li a {
    border: medium none;
    margin: 0;
    width: 100%;
} 
.menuTitle{
    cursor: pointer;
    margin: 0 auto;
    display: inherit !important;
}
.menuOpt:over{
    color:#000;
}
.menuView{
    float:left;
    display: inherit !important;
}
#primary{
    background: #fff;
    position: relative;
}
#gallerys{
    margin-bottom: 100px !important;
}
.video-list{
    
}
.primaryInfo
{
    float:left;
    width: 275px;
    text-align: left;
    padding:10px 15px;
}
.primaryImage{
    width: auto;
}
.primaryImage div{
    background: #fff!important;
}
.map-list {
    max-height: 500px;
    overflow: hidden;
    width: 100%;
}
.map-list > li {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 500px;
    max-width: 100% !important;
    vertical-align: top;
}
.carouselBox{
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carouselBox .primaryInfo{
    float: left;
    max-width: 200px;
    min-width: 50px;
    position: relative;
    white-space: normal;
    width: 19%;
}
.carouselBox .primaryImage{
    float: right;
    height: 100%;
    position: relative;
    width: 75%;
}
.primaryInfoMap {
    float: left;
    padding: 0;
    text-align: left;
    width: 20%;
}
.primaryInfoMap > *{
    padding: 0 10px;
}
.primaryInfoMap h1,.primaryInfoMap p{
    margin: 10px 0;
}
.primaryMap{
    float: left;
    height: 601px;
    overflow: hidden;
    position: relative;
    width: 80%;
}
.mapSubBar{
    background: none repeat scroll 0 0 #CACACA;
    height: 45px;
}
.mapSubBar .barLogo{
    float: left;
    position: relative;
    left:20px;
    padding: 10px 0;
}
.mapSubBar .barText{
    float: right;
    right:20px;
    color:#fff;
    padding: 15px 0;
    font-size: 10px;
    position: relative;
}
.mapLeyend {
    height: 20px;
    margin: auto;
    position: relative;
    text-align: center;
    width: 100%;
}
.mapLeyend li{
    display: inline;
    float: left;
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
    width: auto;
}
.mapLeyend li p{
    float: left;
    margin: 0;
}
.primaryMap img{
    float: left;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}
.primaryInfo .title{
    text-transform: uppercase;
}
.primaryInfo p {
    margin: 6px 0;
}
.gallerysBox{
    margin: 20px 20px 0 0;
}
.gallerysBoxImg{
    
}
.gallerysBoxImg img{
    width: auto;
}
.gallerysBoxInfo p{
    padding: 5px 0 0 10px;
    text-align: left;
    text-transform: uppercase;
}
.gallerysBoxInfo{
    background: none repeat scroll 0 0 #DADADA;
    height: 30px;
    width: 100%;
}
.arrowNext{
    background: url("../images/arrowNext.png") no-repeat scroll center center transparent;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.tableTitle li{
    background-image: -ms-linear-gradient(top, #828282 0%, #000508 100%);
    background-image: -moz-linear-gradient(top, #828282 0%, #000508 100%);
    background-image: -o-linear-gradient(top, #828282 0%, #000508 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #828282), color-stop(1, #000508));
    background-image: -webkit-linear-gradient(top, #828282 0%, #000508 100%); 
    background-image: linear-gradient(to bottom, #828282 0%, #000508 100%);
    border: medium none;
    min-width: 29px;
    padding: 0 0 0 10px;
    width: 29px;
    border-left: 2px solid #373737 !important;
}
.tableTitle a {
    background: url("../images/table_sort_arrow.gif") no-repeat scroll right center transparent;
    color: #FFFFFF;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 14px;
    margin: 0 0 0 10px;
    padding: 0 10px 0 0;
    cursor: pointer;
}
tableTitle li {
    border-left: 1px solid #373737;
}
#toggle-all {
    background: url("../images/checkbox.gif") repeat scroll 0 -17px transparent;
    cursor: pointer;
    display: block;
    height: 17px;
    width: 17px;
}
#product-table td {
    border: 1px solid #D2D2D2;
    padding: 10px 0 10px 10px;
}
.tableView{
    width: 100%;
}
.colsView {
}
.colsView > li {
    display: inline-block;
    padding: 10px 0 10px 10px;
}
.tableContent .colsView{
     border: 1px solid #D2D2D2;
}
.tableView > li{
    text-align: left;
    min-width: 110px;
}
.tableView .alternate-row{
    background: none repeat scroll 0 0 #ECECEC;
}
.tableView .edit {
    background: url("../images/table_icon_1.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
}
.tableView .edit:hover {
    background: url("../images/table_icon_1.gif") no-repeat scroll 0 -24px transparent;
}
.tableView .delete {
    background: url("../images/table_icon_2.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 24px;
    margin: 0 8px 0 0;
    width: 24px;
}
.tableView .delete:hover {
    background: url("../images/table_icon_2.gif") no-repeat scroll 0 -24px transparent;
}
ul.slider li {
    float: left;
}
#primary {
    background: none repeat scroll 0 0 #F9F9F9;
    height: 595px;
    margin: 0;
    overflow: hidden;
}
#primary > div{
    width: 80000px;
    left: 0;
}
.teamRead{
    bottom: 10px;
    cursor: pointer;
    position: absolute;
    right: 22px;
    text-align: right;
}
.teamCol{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin: 0 25px 0 0;
    overflow: hidden;
    padding: 20px 18px 40px;
    position: relative;
    text-align: left;
}
.teamColMax{
    height: 100% !important;
}
.teamCol>div{
    width: 100%;
}
.teamContent{
    margin: auto;
    left:130px;
    position: relative;
}
.teamContent .both{
    width: 29%;
}
.teamContent .single{
    width: 17%;
}
.teamPic{
    width: 100%;
}
.teamPic img{
    width: 100%;
}
.teamContent .single .teamPic{
    padding: 2%;
    width: 80%;
    max-width: 160px;
    float:left;
}
.teamContent .both .teamPic{
    padding: 2%;
    width: 45%;
    float:left;
    max-width: 185px;
}
.teamText{
    width: 100%;
    clear: both;
    overflow: hidden;
}
.teamTextShort{
   height: 350px; 
}
.teamText h1{
    font-size: 15px;
}
.teamText p{
    margin:15px 0;
}
.mapZoom,#_zi_icon, #_zo_icon{
    width: 50px !important;
    height: 50px!important;
    z-index: 100!important;
    position: absolute!important;
    cursor: pointer;
}
#controlsMaps{
    right: 0 !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    bottom: 0 !important;
}
#controlsMaps > div{
    width: 50px !important;
    height: 50px !important;
    float:right!important;;
    position: relative!important;
    top:auto!important;;
    left:auto!important;;
}
#controlsBg{
    display: none;
}
.zoomMas,#_zi_icon{
    background: url("../images/mapZoom.jpg") no-repeat scroll -50px 0 transparent !important;

}
.zoomMenos, #_zo_icon{
    background: url("../images/mapZoom.jpg") no-repeat scroll 0 0px transparent !important;

}
.fitScreenBar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    background: #cacaca;
}
.fitScreen{
    float:right;
    right: 20px;
    top: 5px;
    cursor: pointer;
    position: relative;
}
.fitScreen img{
    float: left;
    margin-right: 10px; 
}
.fullScreen{
    max-width: 100% !important;
    width: 100% !important;
}
.videoWrapper {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    min-height: 60px;
    position: relative;
}
.videoInfo{
    float: left;
    padding: 10px;
    text-align: left;
    white-space: pre-line;
    width: 20%;
}
.videoBox{
    float: left;
    width: 80%;
}